apiVersion: v1
kind: Service
metadata:
  name: audit-service
spec:
  ports:
    - port: 80
      targetPort: 8080
  selector:
    app: audit-service
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: audit-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: audit-service
  template:
    metadata:
      labels:
        app: audit-service
    spec:
      containers:
        - image: medinsight/audit-service:latest
          name: audit-service
          imagePullPolicy: IfNotPresent
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: k8s
            - name: MONGODB_URI
              value: mongodb://admin:password@mongodb:27017/medinsight_audit?authSource=admin
            - name: ELASTICSEARCH_URL
              value: http://elasticsearch:9200
            - name: KEYCLOAK_URL
              value: http://keycloak:8080
          ports:
            - containerPort: 8080
