apiVersion: v1
kind: Service
metadata:
  name: patient-service
spec:
  ports:
    - port: 80
      targetPort: 8080
  selector:
    app: patient-service
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: patient-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: patient-service
  template:
    metadata:
      labels:
        app: patient-service
    spec:
      containers:
        - image: medinsight/patient-service:latest
          name: patient-service
          imagePullPolicy: IfNotPresent
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: k8s
            - name: DB_URL
              value: jdbc:postgresql://postgres:5432/medinsight_db
            - name: KEYCLOAK_URL
              value: http://keycloak:8080
          ports:
            - containerPort: 8080
