apiVersion: v1
kind: Service
metadata:
  name: notification-service
spec:
  ports:
    - port: 80
      targetPort: 8080
  selector:
    app: notification-service
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
        - image: medinsight/notification-service:latest
          name: notification-service
          imagePullPolicy: IfNotPresent
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: k8s
            - name: KEYCLOAK_URL
              value: http://keycloak:8080
          ports:
            - containerPort: 8080
