server:
  port: 8080
spring:
  application:
    name: audit-service
  data:
    mongodb:
      uri: ${MONGODB_URI:mongodb://localhost:27017/medinsight_audit}
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_URL:http://localhost:8080}/realms/medinsight-realm
          jwk-set-uri: ${KEYCLOAK_URL:http://localhost:8080}/realms/medinsight-realm/protocol/openid-connect/certs
