apiVersion: v1
kind: Service
metadata:
  name: gateway
spec:
  ports:
    - port: 80
      targetPort: 8080
  selector:
    app: gateway
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - image: medinsight/gateway:latest
          name: gateway
          imagePullPolicy: IfNotPresent
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: k8s
            - name: KEYCLOAK_URL
              value: http://keycloak:8080
            - name: REDIS_HOST
              value: redis
          ports:
            - containerPort: 8080
